.theme-dropdown .dropdown-menu {
	position: static;
	margin-bottom: 20px;
}

.navbar-right .dropdown-menu {
	right: auto;
}

.dropdown-menu .divider {
	margin: 3px;
}

.dropdown-menu>li>a {
	color: #878787;
}

#password-input-container {
	position: fixed;
	width: 100%;
	top: 50px;
	bottom: 50px;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f9f9fa;
}

#password-input-logo-mark-img {
	position: absolute;
	left: 50%;
	margin-top: 103.5px;
	margin-left: -26.5px;
}

#password-input-form-container {
	max-width: 390px;
	padding: 0px;
	margin: auto;
	margin-top: 130px;
	background-color: #fefefe;
	border: 1px solid rgba(86, 61, 124, .2);
	text-align: center;
	margin-bottom: 30px;
}

#password-input-top-container {
	padding: 16px;
	background-color: #108ca4;
	font-size: 20px;
}

#password-input-title {
	position: relative;
	margin-top: 0px;
	color: #ffffff;
	z-index: 1;
}

.form-horizontal .control-label {
	text-align: left;
	padding-left: 40px;
	padding-right: 0px;
}

.from-group-password-input {
	margin-top: 20px;
	margin-right: 10px !important;
	margin-left: 10px !important;
}

.form-group-id {
	padding-top: 5px;
}

.password-input-label {
	color: #878787;
}

.form-control {
	border-radius: 0px;
	width: 93%;
}

.col-sm-8 {
	padding-left: 0px;
}

.input-email {
	color: #878787;
	text-align: left;
	padding-top: 7px;
}

.input-email-box {
	padding-right: 135px;
}

.error {
	color: #e73828;
	font-size: 11px;
	text-align: left;
	padding-left: 50px;
}

#input-password-btn {
	margin-bottom: 30px;
	margin-top: 30px;
	padding: 4px;
	width: 80px;
	font-size: 16px;
	background-color: #108ca4;
	border-color: #108ca4;
	border-radius: 0px;
}