#project-toolbar {
	padding-top: 25px;
	height: 80px;
	padding-left: 30px;
}

.project-toolbar-btn {
	background-color: #3b4d5d;
	color: #ffffff;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: 10px;
}

#project-toolbar-left>button>img{
	padding-right: 10px;
}

.project-toolbar-white-btn {
	background-color: #ffffff;
	padding-top: 3px;
	padding-bottom: 3px;
}

.project-toolbar-btn-img {
	height: 18px;
	padding-bottom: 3px;
}

#project-toolbar-left {
	float: left;
}

#project-toolbar-add-dropdown-menu{
	display: inline-block;
}
#project-toolbar-right {
	width: 315px;
	float: right;
	padding-right: 30px;
}

#project-toolbar-search-input-group-container {
	width: 250px;
	display: inline-block;
}

#project-toolbar-search-input-group {
	display: inline;
	width: 250px;
}

#project-toolbar-search-input {
	width: 200px;
	height: 28px;
}

#project-toolbar-check-btn-container {
	display: inline-block;
	vertical-align: top;
}

#project-toolbar-check-btn {
	height: 28px;
	border-radius: 0px;
	border: 2px solid #9c9d9d;
	padding: 3px;
}